@model NetflixClone.Models.MediaListWatchlistModel
@{
    ViewBag.Title = "watchlist";
    NetflixClone.Models.Model1 db = new NetflixClone.Models.Model1();
    int loggedUserID = (int)@Session["id"];
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/MainPage/fontawesome-free-6.5.2-web/fontawesome-free-6.5.2-web/css/all.min.css">
    <link href="~/Content/MainPage/moviezone.css" rel="stylesheet">
    <title>Netflix</title>
    <style>
        .movie-item {
            position: relative;
            width: calc(100% / 6 - 10px);
            flex-shrink: 0;
            margin-right: 10px;
        }

            .movie-item img {
                width: 100%;
                height: auto;
                display: block;
            }

        .movie-details {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.7);
            padding: 5px;
            color: white;
            font-size: 14px;
            opacity: 0;
            transition: opacity 0.3s ease;
        }

        .movie-item:hover .movie-details {
            opacity: 1;
        }

        .prev-next-button {
            margin-top: 16px;
            border: none;
            position: absolute;
            top: 50%;
            width: 2%;
            padding-bottom: 2%;
            border-radius: 50%;
            background: none;
            transform: translateY(-50%);
            outline: none;
            cursor: pointer;
        }

            .prev-next-button:hover {
                background-color: white;
            }

            .prev-next-button:focus {
                outline: none;
            }

            .prev-next-button:active {
                background-color: gainsboro;
            }

        .previous {
            left: 15px;
        }

        .next {
            right: 15px;
        }

        .prev-next-button svg {
            position: absolute;
            left: 20%;
            top: 20%;
            width: 60%;
            height: 60%;
        }

        .arrow {
            fill: red;
        }

        .slider-container {
            position: relative;
            overflow: hidden;
            margin-top: 70px;
            width: 100%;
        }

        .slider {
            display: flex;
            transition: transform 0.8s ease-in-out;
            overflow-x: scroll;
            overflow-y: hidden;
            white-space: nowrap;
            scrollbar-width: none;
            -ms-overflow-style: none;
        }

            .slider::-webkit-scrollbar {
                display: none;
            }

        /* Video Styles */
        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: fixed;
            top: 0;
            left: 0;
            z-index: -1;
        }

        .tt-movies-list {
            padding-bottom: 16px;
            padding-left: 30px;
            font-weight: bold;
            font-size: 26px;
        }

        #background-image {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            object-fit: cover;
            object-position: center;
        }
    </style>
</head>
<body>
    <img id="background-image" src="~/Content/SingleMovie/images/parallax/avatar.jpg" alt="Background Image">
    @if (Model.Watchlist != null)
    {
        <h4 class="tt-movies-list">Watchlist for @Model.Watchlist.watchlistName</h4>

    }
    @if (Model.Movies != null)
    {
        <div class="slider-container" style="margin-top:0px">
            <div style="margin-top: 200px">
                <h4 class="tt-movies-list">Movies in watchlist:</h4>
                <div class="slider">
                    @foreach (var movie in Model.Movies)
                    {
                        <div class="movie-item">
                            <a href='@Url.Action("Delete", "Watchlist", new { id = movie.movieID, watchlistID = db.watchlists.Where(w => w.userID == loggedUserID).Select(w => w.watchlistID).FirstOrDefault() })' class="btn btn-hover iq-button"><i class="fa fa-play mr-3"></i>Delete</a>
                            <a href="@Url.Action("Details", "movies", new { id = movie.movieID })" class="movie-link">
                                <img src="@movie.posterPath" alt="@movie.movieName">
                                <div class="movie-details">
                                    <h5>@movie.movieName</h5>
                                    <p>@movie.releaseDate</p>
                                </div>
                            </a>
                        </div>
                    }
                </div>
                <button class="prev-next-button previous">
                    <svg viewbox="0 0 100 100">
                        <path class="arrow" d="M 50,0 L 60,10 L 20,50 L 60,90 L 50,100 L 0,50 Z" transform=" translate(15,0)" />
                    </svg>
                </button>
                <button class="prev-next-button next">
                    <svg viewbox="0 0 100 100">
                        <path class="arrow" d="M 50,0 L 60,10 L 20,50 L 60,90 L 50,100 L 0,50 Z " transform="translate(85,100) rotate(180) " />
                    </svg>
                </button>
            </div>

        </div>
    }
    else
    {
        <h4 class="tt-movies-list">There are no matching results for movie!</h4>
    }

    @if (Model.Series != null)
    {
        <div class="slider-container" style="margin-top:0px">
            <div style="margin-top: 200px">
                <h4 class="tt-movies-list">Series in watchlist:</h4>
                <div class="slider">
                    @foreach (var serie in Model.Series)
                    {

                        <div class="movie-item">
                            <a href='@Url.Action("Delete", "Watchlist", new { id = serie.serieID, watchlistID =  Session["id"] })' class="btn btn-hover iq-button"><i class="fa fa-play mr-3"></i>Delete</a>
                            <a href="@Url.Action("Details", "series", new { id = serie.serieID })" class="movie-link">
                                <img src="@serie.posterPath" alt="@serie.serieName">
                                <div class="movie-details">
                                    <h5>@serie.serieName</h5>
                                    <p>@serie.firstAirDate</p>
                                </div>
                            </a>
                        </div>
                    }
                </div>
                <button class="prev-next-button previous">
                    <svg viewbox="0 0 100 100">
                        <path class="arrow" d="M 50,0 L 60,10 L 20,50 L 60,90 L 50,100 L 0,50 Z" transform=" translate(15,0)" />
                    </svg>
                </button>
                <button class="prev-next-button next">
                    <svg viewbox="0 0 100 100">
                        <path class="arrow" d="M 50,0 L 60,10 L 20,50 L 60,90 L 50,100 L 0,50 Z " transform="translate(85,100) rotate(180) " />
                    </svg>
                </button>
            </div>

        </div>
    }
    else
    {
        <h4 class="tt-movies-list">There are no matching results for serie!</h4>
    }



    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const sliderContainers = document.querySelectorAll(".slider-container");

            sliderContainers.forEach(function (container) {
                const slider = container.querySelector(".slider");
                const slides = slider.querySelectorAll(".movie-item");
                const totalSlides = slides.length;
                let currentIndex = 0;
                const slidesPerPage = 6;

                function showSlide(index) {
                    const slideWidth = slides[0].offsetWidth;
                    const startPosition = index * slidesPerPage * slideWidth;
                    slider.scrollTo({
                        left: startPosition,
                        behavior: 'smooth'
                    });
                }

                function nextSlide() {
                    currentIndex = (currentIndex + 1 < Math.ceil(totalSlides / slidesPerPage)) ? currentIndex + 1 : 0;
                    showSlide(currentIndex);
                }

                function prevSlide() {
                    currentIndex = (currentIndex > 0) ? currentIndex - 1 : Math.ceil(totalSlides / slidesPerPage) - 1;
                    showSlide(currentIndex);
                }

                // Autoplay Slider
                setInterval(nextSlide, 4000);

                // Show all slides
                showSlide(currentIndex);

                const prevButton = container.querySelector('.prev-next-button.previous');
                const nextButton = container.querySelector('.prev-next-button.next');

                prevButton.addEventListener('click', prevSlide);
                nextButton.addEventListener('click', nextSlide);
            });
        });
    </script>
</body>
</html>