@model IEnumerable<NetflixClone.Models.episode>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.season.seasonName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.series.serieName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.episodeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.episodeNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.overview)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.posterPath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.trailer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.voteAverage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.voteCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.runtime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.season.seasonName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.series.serieName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.episodeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.episodeNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.overview)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.posterPath)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.trailer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.voteAverage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.voteCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.runtime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.episodeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.episodeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.episodeID })
        </td>
    </tr>
}

</table>
