@model NetflixClone.Models.actor

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>actor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.actorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.actorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.birthday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.birthday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.placeOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.placeOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.biography)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.biography)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.knownForDepartment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.knownForDepartment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.popularity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.popularity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.profilePath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.profilePath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.imdbID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imdbID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.originalName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.originalName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
