@model List<NetflixClone.Models.series>
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="icon" href="~/Content/MainPage/assests/nficon.ico"> -->
    <link rel="stylesheet" href="~/Content/MainPage/fontawesome-free-6.5.2-web/fontawesome-free-6.5.2-web/css/all.min.css">
    <link href="~/Content/MainPage/moviezone.css" rel="stylesheet" />
    <title>Netflix</title>
</head>

<body>
    <section class="container">
        <div class="head">
            <img src="~/Content/MainPage/assests/netflixlogo.png" alt="">
        </div>
    </section>
    <div class="home-image">
        <div class="home-image-text">
            <img class="money" src="~/Content/MainPage/assests/monetharis.png" alt="">
           
            <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>

            <a class="play-btn" href="~/Content/MainPage/assests/MoneyH.mp4">
                <img src="~/Content/MainPage/assests/play.png" alt="">
                <span>Phát</span>
            </a>
        </div>

    </div>
    <div class="original">
        <h3 class="no-title">Netflix Originals</h3>
        <div class="no">
            <ul >
                @foreach (var s in Model)
                {
                    <li style="display:inline-block">
                        <a href="">
                            <img src=@s.posterPath alt="">
                            <div class="original-details">
                                <div class="details-video">
                                    <!-- nhiều vid thì lag nên comment tạm chứ chạy bt -->
                                    <!--<video src="~/Content/MainPage/assests/MoneyH.mp4" autoplay loop muted></video>-->
                                </div>
                                <div class="details-info">
                                    <div class="details-icon">
                                        <div class="icon-one">
                                            <i class="fa-solid fa-play icon-v"></i>
                                            <i class="fa-solid fa-check icon-check"></i>
                                        </div>
                                        <div class="icon-two">
                                            <i class="fa-solid fa-angle-down icon-down"></i>
                                        </div>
                                    </div>
                                    <div class="details-more">
                                        <span class="more-one">@s.adult</span>
                                        <span class="more-two">@s.numberOfSeasons</span>
                                        <!-- cái ở dưới để tạm để biết phim nào do ảnh đang không chạy -->
                                        <span class="more-hd">@s.serieName</span>
                                    </div>

                                    <div class="details-category">
                                        @s.genreID
                                    </div>
                                </div>
                            </div>
                        </a>
                        <p></p>
                    </li style="display:inline-block">
                }
            </ul>
        </div>
    </div>

    <div class="original2">
        <h3 class="no-title">Top Rated</h3>
        <div class="no">
            <ul>
                @foreach (var s in Model)
                {
                    <li style="display:inline-block">
                        <a href="">
                            <img src=@s.posterPath alt="">
                            <div class="original-details">
                                <div class="details-video">
                                    <!-- nhiều vid thì lag nên comment tạm chứ chạy bt -->
                                    <!--<video src="~/Content/MainPage/assests/MoneyH.mp4" autoplay loop muted></video>-->
                                </div>
                                <div class="details-info">
                                    <div class="details-icon">
                                        <div class="icon-one">
                                            <i class="fa-solid fa-play icon-v"></i>
                                            <i class="fa-solid fa-check icon-check"></i>
                                        </div>
                                        <div class="icon-two">
                                            <i class="fa-solid fa-angle-down icon-down"></i>
                                        </div>
                                    </div>
                                    <div class="details-more">
                                        <span class="more-one">@s.adult</span>
                                        <span class="more-two">@s.numberOfSeasons</span>
                                        <!-- cái ở dưới để tạm để biết phim nào do ảnh đang không chạy -->
                                        <span class="more-hd">@s.serieName</span>
                                    </div>

                                    <div class="details-category">
                                        @s.genreID
                                    </div>
                                </div>
                            </div>
                        </a>
                        <p></p>
                    </li>
                }
            </ul>
        </div>
    </div>

    <div class="original2">
        <h3 class="no-title">Comedy Movies</h3>
        <div class="no">
            <ul>
                @foreach (var s in Model)
                {
                    <li style="display:inline-block">
                        <a href="">
                            <img src=@s.posterPath alt="">
                            <div class="original-details">
                                <div class="details-video">
                                    <!-- nhiều vid thì lag nên comment tạm chứ chạy bt -->
                                    <!--<video src="~/Content/MainPage/assests/MoneyH.mp4" autoplay loop muted></video>-->
                                </div>
                                <div class="details-info">
                                    <div class="details-icon">
                                        <div class="icon-one">
                                            <i class="fa-solid fa-play icon-v"></i>
                                            <i class="fa-solid fa-check icon-check"></i>
                                        </div>
                                        <div class="icon-two">
                                            <i class="fa-solid fa-angle-down icon-down"></i>
                                        </div>
                                    </div>
                                    <div class="details-more">
                                        <span class="more-one">@s.adult</span>
                                        <span class="more-two">@s.numberOfSeasons</span>
                                        <!-- cái ở dưới để tạm để biết phim nào do ảnh đang không chạy -->
                                        <span class="more-hd">@s.serieName</span>
                                    </div>

                                    <div class="details-category">
                                        @s.genreID
                                    </div>
                                </div>
                            </div>
                        </a>
                        <p></p>
                    </li>
                }
            </ul>
        </div>
    </div>

    <div class="original1">
        <h3 class="no-title">Romantic Movies</h3><!--<a href=""><img src="~/Content/MainPage/assests/ro1.jpg" alt=""></a>-->
        <div class="no">
            <ul>
                @foreach (var s in Model)
                {
                    <li style="display:inline-block">
                        <a href="">
                            <img src=@s.posterPath alt="">
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
    <div class="original1">
        <h3 class="no-title">Action Movies</h3>
        <div class="no">
            <ul>
                @foreach (var s in Model)
                {
                    <li style="display:inline-block">
                        <a href="">
                            <img src=@s.posterPath alt="">
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>

</body>

</html>