@model NetflixClone.Models.movie

@{
    ViewBag.Title = "Movie detail";
    NetflixClone.Models.Model1 db = new NetflixClone.Models.Model1();
}

<!-- slider starts  -->
<section id="home" class="iq-main-slider p-0">
    <div id="home-slider" class="slider m-0 p-0">
        <div class="slide slick-bg s-bg-1">
            <!--<video src="https://api.themoviedb.org/3/movie/${Model.movieID}/videos?api_key=${4c7a48492227a8ce26dceb363ea366cb}" loop muted autoplay></video>-->
            <div class="container-fluid position-relative h-100">
                <div class="slider-inner h-100">
                    <div class="row align-items-center h--100">
                        <div class="col-xl-6 col-lg-12 col-md-12">
                            <a href="javascript:void(0)">
                                <div class="channel-logo" data-animation-in="fadeInLeft" data-delay-in="0.5">
                                    <img src="~/Content/SingleMovie/images/logo.png" class="c-logo" alt="" />
                                </div>
                            </a>
                            <h1 class="slider-text big-title title text-uppercase" data-animation-in="fadeInLeft"
                                data-delay-in="0.6">
                                @Html.DisplayFor(model => model.movieName)
                            </h1>
                            <div class="d-flex flex-wrap align-items-center fadeInLeft animated" data-animation-in="fadeInLeft"
                                 style="opacity: 1">
                                <div class="slider-ratting d-flex align-items-center mr-4 mt-2 mt-md-3">
                                    <ul class="ratting-start p-0 m-0 list-inline text-primary d-flex align-items-center justify-content-left">
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star-half"></i></li>
                                    </ul>
                                    <span class="text-white ml-2">7.3(imbd)</span>
                                </div>
                                <div class="d-flex align-items-center mt-2 mt-md-3">
                                    <span class="badge badge-secondary p-2">16+</span>
                                    <span class="ml-3">@Html.DisplayFor(model => model.runtime) (minutes)</span>
                                </div>
                            </div>
                            <p data-animation-in="fadeInUp">
                                @Html.DisplayFor(model => model.overview)
                            </p>
                            <div class="trending-list" data-animation-in="fadeInUp" data-delay-in="1.2">
                                <div class="text-primary title starring">
                                    Original name:
                                    <span class="text-body">
                                        @Html.DisplayFor(model => model.originalMovieName)
                                    </span>
                                </div>
                                <div class="text-primary title genres">
                                    Genres : <span class="text-body">
                                        @foreach (var genre in Model.genres)
                                        {
                                            @genre.genreName
                                            if (!genre.Equals(Model.genres.Last()))
                                            {
                                                <span>, </span>
                                            }
                                        }
                                    </span>
                                </div>
                                <div class="text-primary title tag">
                                    Tags :
                                    <span class="text-body">@Html.DisplayFor(model => model.tags) </span>
                                </div>
                            </div>
                            <div class="d-flex align-items-center r-mb-23 mt-4" data-animation-in="fadeInUp" data-delay-in="1.2">
                                <a href="#" class="btn btn-hover iq-button"><i class="fa fa-play mr-3"></i>Play Now</a>
                                <a href="#" class="btn btn-link">More Details</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-12 col-md-12 trailor-video">
                        <a href="video/trailer.mp4" class="video-open playbtn">
                            <img src="~/Content/SingleMovie/images/play.png" class="play" alt="" />
                            <span class="w-trailor">Watch Trailer</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- slider ends -->
<!-- main content starts  -->
<div class="main-content">
    <!--top rated section starts   -->
    <section id="iq-favorites">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 overflow-hidden">
                    <div class="iq-main-header d-flex align-items-center justify-content-between">
                        <h4 class="main-title">Top rated movies</h4>
                        <a href="#" class="iq-view-all">View All</a>
                    </div>
                    <div class="favorite-contens">
                        @Html.Partial("MovieList_TopRated", db.movies.ToList())
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- top rated section ends -->
    <!--popular section starts  -->
    <section id="iq-upcoming-movie">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 overflow-hidden">
                    <div class="iq-main-header d-flex align-items-center justify-content-between">
                        <h4 class="main-title">Popular Movies</h4>
                        <a href="#" class="iq-view-all">View All</a>
                    </div>
                    <div class="favorite-contens">
                        @Html.Partial("MovieList_Popular", db.movies.ToList())
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- popular section ends -->

    <!-- top ten trending  -->
    <section id="iq-topten">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 overflow-hidden">
                    <div class="topten-contents">
                        <h4 class="main-title iq-title topten-title">
                            Top 10 Audience Vote
                        </h4>
                        @Html.Partial("MovieList_Top10", db.movies.ToList())
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--recommended for you-->
    <section id="iq-suggested" class="s-margin">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 overflow-hidden">
                    <div class="iq-main-header d-flex align-items-center justify-content-between">
                        <h4 class="main-title">Recommended For You</h4>
                        <a href="#" class="iq-view-all">View All</a>
                    </div>
                    <div class="favorite-contens">
                        <ul class="favorites-slider list-inline row p-0 mb-0">
                            <!-- slide item 1 -->
                            <li class="slide-item">
                                <div class="block-images position-relative">
                                    <div class="img-box">
                                        <img src="~/Content/SingleMovie/images/tvthrillers/01.jpg" class="img-fluid" alt="" />
                                    </div>
                                    <div class="block-description">
                                        <h6 class="iq-title">
                                            <a href="#">The Martian</a>
                                        </h6>
                                        <div class="movie-time d-flex align-items-center my-2">
                                            <div class="badge badge-secondary p-1 mr-2">15+</div>
                                            <span class="text-white">2h 45min</span>
                                        </div>
                                        <div class="hover-buttons">
                                            <span class="btn btn-hover iq-button">
                                                <i class="fa fa-play mr-1"></i>
                                                Play Now
                                            </span>
                                        </div>
                                    </div>
                                    <div class="block-social-info">
                                        <ul class="list-inline p-0 m-0 music-play-lists">
                                            <li class="share">
                                                <span><i class="fa fa-share-alt"></i></span>
                                                <div class="share-box">
                                                    <div class="d-flex align-items-center">
                                                        <a href="#" class="share-ico"><i class="fa fa-share-alt"></i></a>
                                                        <a href="#" class="share-ico"><i class="fa fa-youtube"></i></a>
                                                        <a href="#" class="share-ico"><i class="fa fa-instagram"></i></a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <span><i class="fa fa-heart"></i></span>
                                                <span class="count-box">89+</span>
                                            </li>
                                            <li>
                                                <span><i class="fa fa-plus"></i></span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <!-- slide item 2 -->
                            <li class="slide-item">
                                <div class="block-images position-relative">
                                    <div class="img-box">
                                        <img src="~/Content/SingleMovie/images/tvthrillers/02.jpg" class="img-fluid" alt="" />
                                    </div>
                                    <div class="block-description">
                                        <h6 class="iq-title">
                                            <a href="#">Unhinged</a>
                                        </h6>
                                        <div class="movie-time d-flex align-items-center my-2">
                                            <div class="badge badge-secondary p-1 mr-2">7+</div>
                                            <span class="text-white">2h 12min</span>
                                        </div>
                                        <div class="hover-buttons">
                                            <span class="btn btn-hover iq-button">
                                                <i class="fa fa-play mr-1"></i>
                                                Play Now
                                            </span>
                                        </div>
                                    </div>
                                    <div class="block-social-info">
                                        <ul class="list-inline p-0 m-0 music-play-lists">
                                            <li class="share">
                                                <span><i class="fa fa-share-alt"></i></span>
                                                <div class="share-box">
                                                    <div class="d-flex align-items-center">
                                                        <a href="#" class="share-ico"><i class="fa fa-share-alt"></i></a>
                                                        <a href="#" class="share-ico"><i class="fa fa-youtube"></i></a>
                                                        <a href="#" class="share-ico"><i class="fa fa-instagram"></i></a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <span><i class="fa fa-heart"></i></span>
                                                <span class="count-box">35+</span>
                                            </li>
                                            <li>
                                                <span><i class="fa fa-plus"></i></span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <!-- slide item 3 -->
                            <li class="slide-item">
                                <div class="block-images position-relative">
                                    <div class="img-box">
                                        <img src="~/Content/SingleMovie/images/tvthrillers/03.jpg" class="img-fluid" alt="" />
                                    </div>
                                    <div class="block-description">
                                        <h6 class="iq-title">
                                            <a href="#">Kingsman</a>
                                        </h6>
                                        <div class="movie-time d-flex align-items-center my-2">
                                            <div class="badge badge-secondary p-1 mr-2">18+</div>
                                            <span class="text-white">3h</span>
                                        </div>
                                        <div class="hover-buttons">
                                            <span class="btn btn-hover iq-button">
                                                <i class="fa fa-play mr-1"></i>
                                                Play Now
                                            </span>
                                        </div>
                                    </div>
                                    <div class="block-social-info">
                                        <ul class="list-inline p-0 m-0 music-play-lists">
                                            <li class="share">
                                                <span><i class="fa fa-share-alt"></i></span>
                                                <div class="share-box">
                                                    <div class="d-flex align-items-center">
                                                        <a href="#" class="share-ico"><i class="fa fa-share-alt"></i></a>
                                                        <a href="#" class="share-ico"><i class="fa fa-youtube"></i></a>
                                                        <a href="#" class="share-ico"><i class="fa fa-instagram"></i></a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <span><i class="fa fa-heart"></i></span>
                                                <span class="count-box">99+</span>
                                            </li>
                                            <li>
                                                <span><i class="fa fa-plus"></i></span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <!-- slide item 4 -->
                            <li class="slide-item">
                                <div class="block-images position-relative">
                                    <div class="img-box">
                                        <img src="~/Content/SingleMovie/images/tvthrillers/04.jpg" class="img-fluid" alt="" />
                                    </div>
                                    <div class="block-description">
                                        <h6 class="iq-title">
                                            <a href="#"> Casino Royale</a>
                                        </h6>
                                        <div class="movie-time d-flex align-items-center my-2">
                                            <div class="badge badge-secondary p-1 mr-2">18+</div>
                                            <span class="text-white">1h 55min</span>
                                        </div>
                                        <div class="hover-buttons">
                                            <span class="btn btn-hover iq-button">
                                                <i class="fa fa-play mr-1"></i>
                                                Play Now
                                            </span>
                                        </div>
                                    </div>
                                    <div class="block-social-info">
                                        <ul class="list-inline p-0 m-0 music-play-lists">
                                            <li class="share">
                                                <span><i class="fa fa-share-alt"></i></span>
                                                <div class="share-box">
                                                    <div class="d-flex align-items-center">
                                                        <a href="#" class="share-ico"><i class="fa fa-share-alt"></i></a>
                                                        <a href="#" class="share-ico"><i class="fa fa-youtube"></i></a>
                                                        <a href="#" class="share-ico"><i class="fa fa-instagram"></i></a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <span><i class="fa fa-heart"></i></span>
                                                <span class="count-box">19+</span>
                                            </li>
                                            <li>
                                                <span><i class="fa fa-plus"></i></span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <!-- slide item 5 -->
                            <li class="slide-item">
                                <div class="block-images position-relative">
                                    <div class="img-box">
                                        <img src="~/Content/SingleMovie/images/tvthrillers/05.jpg" class="img-fluid" alt="" />
                                    </div>
                                    <div class="block-description">
                                        <h6 class="iq-title">
                                            <a href="#"> Mision Impossible</a>
                                        </h6>
                                        <div class="movie-time d-flex align-items-center my-2">
                                            <div class="badge badge-secondary p-1 mr-2">17+</div>
                                            <span class="text-white">1h 35min</span>
                                        </div>
                                        <div class="hover-buttons">
                                            <span class="btn btn-hover iq-button">
                                                <i class="fa fa-play mr-1"></i>
                                                Play Now
                                            </span>
                                        </div>
                                    </div>
                                    <div class="block-social-info">
                                        <ul class="list-inline p-0 m-0 music-play-lists">
                                            <li class="share">
                                                <span><i class="fa fa-share-alt"></i></span>
                                                <div class="share-box">
                                                    <div class="d-flex align-items-center">
                                                        <a href="#" class="share-ico"><i class="fa fa-share-alt"></i></a>
                                                        <a href="#" class="share-ico"><i class="fa fa-youtube"></i></a>
                                                        <a href="#" class="share-ico"><i class="fa fa-instagram"></i></a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <span><i class="fa fa-heart"></i></span>
                                                <span class="count-box">19+</span>
                                            </li>
                                            <li>
                                                <span><i class="fa fa-plus"></i></span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--suggested tv shows-->
    <section id="iq-suggested" class="s-margin">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 overflow-hidden">
                    <div class="iq-main-header d-flex align-items-center justify-content-between">
                        <h4 class="main-title">Suggested Sports</h4>
                        <a href="#" class="iq-view-all">View All</a>
                    </div>
                    <div class="favorite-contens">
                        <ul class="favorites-slider list-inline row p-0 mb-0">
                            <!-- slide item 1 -->
                            <li class="slide-item">
                                <div class="block-images position-relative">
                                    <div class="img-box">
                                        <img src="~/Content/SingleMovie/images/suggested/01.jpg" class="img-fluid" alt="" />
                                    </div>
                                    <div class="block-description">
                                        <h6 class="iq-title">
                                            <a href="#"> Basketball </a>
                                        </h6>
                                        <div class="movie-time d-flex align-items-center my-2">
                                            <div class="badge badge-secondary p-1 mr-2">NBA</div>
                                            <span class="text-white">SPorts</span>
                                        </div>
                                        <div class="hover-buttons">
                                            <span class="btn btn-hover iq-button">
                                                <i class="fa fa-play mr-1"></i>
                                                Play Now
                                            </span>
                                        </div>
                                    </div>
                                    <div class="block-social-info">
                                        <ul class="list-inline p-0 m-0 music-play-lists">
                                            <li class="share">
                                                <span><i class="fa fa-share-alt"></i></span>
                                                <div class="share-box">
                                                    <div class="d-flex align-items-center">
                                                        <a href="#" class="share-ico"><i class="fa fa-share-alt"></i></a>
                                                        <a href="#" class="share-ico"><i class="fa fa-youtube"></i></a>
                                                        <a href="#" class="share-ico"><i class="fa fa-instagram"></i></a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <span><i class="fa fa-heart"></i></span>
                                                <span class="count-box">89+</span>
                                            </li>
                                            <li>
                                                <span><i class="fa fa-plus"></i></span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <!-- slide item 2 -->
                            <li class="slide-item">
                                <div class="block-images position-relative">
                                    <div class="img-box">
                                        <img src="~/Content/SingleMovie/images/suggested/02.jpg" class="img-fluid" alt="" />
                                    </div>
                                    <div class="block-description">
                                        <h6 class="iq-title">
                                            <a href="#"> VolleyBall </a>
                                        </h6>
                                        <div class="movie-time d-flex align-items-center my-2">
                                            <div class="badge badge-secondary p-1 mr-2">PRO</div>
                                            <span class="text-white">Sports</span>
                                        </div>
                                        <div class="hover-buttons">
                                            <span class="btn btn-hover iq-button">
                                                <i class="fa fa-play mr-1"></i>
                                                Play Now
                                            </span>
                                        </div>
                                    </div>
                                    <div class="block-social-info">
                                        <ul class="list-inline p-0 m-0 music-play-lists">
                                            <li class="share">
                                                <span><i class="fa fa-share-alt"></i></span>
                                                <div class="share-box">
                                                    <div class="d-flex align-items-center">
                                                        <a href="#" class="share-ico"><i class="fa fa-share-alt"></i></a>
                                                        <a href="#" class="share-ico"><i class="fa fa-youtube"></i></a>
                                                        <a href="#" class="share-ico"><i class="fa fa-instagram"></i></a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <span><i class="fa fa-heart"></i></span>
                                                <span class="count-box">35+</span>
                                            </li>
                                            <li>
                                                <span><i class="fa fa-plus"></i></span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <!-- slide item 3 -->
                            <li class="slide-item">
                                <div class="block-images position-relative">
                                    <div class="img-box">
                                        <img src="~/Content/SingleMovie/images/suggested/03.jpg" class="img-fluid" alt="" />
                                    </div>
                                    <div class="block-description">
                                        <h6 class="iq-title">
                                            <a href="#"> Basketball </a>
                                        </h6>
                                        <div class="movie-time d-flex align-items-center my-2">
                                            <div class="badge badge-secondary p-1 mr-2">LSU</div>
                                            <span class="text-white">Sports</span>
                                        </div>
                                        <div class="hover-buttons">
                                            <span class="btn btn-hover iq-button">
                                                <i class="fa fa-play mr-1"></i>
                                                Play Now
                                            </span>
                                        </div>
                                    </div>
                                    <div class="block-social-info">
                                        <ul class="list-inline p-0 m-0 music-play-lists">
                                            <li class="share">
                                                <span><i class="fa fa-share-alt"></i></span>
                                                <div class="share-box">
                                                    <div class="d-flex align-items-center">
                                                        <a href="#" class="share-ico"><i class="fa fa-share-alt"></i></a>
                                                        <a href="#" class="share-ico"><i class="fa fa-youtube"></i></a>
                                                        <a href="#" class="share-ico"><i class="fa fa-instagram"></i></a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <span><i class="fa fa-heart"></i></span>
                                                <span class="count-box">99+</span>
                                            </li>
                                            <li>
                                                <span><i class="fa fa-plus"></i></span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <!-- slide item 4 -->
                            <li class="slide-item">
                                <div class="block-images position-relative">
                                    <div class="img-box">
                                        <img src="~/Content/SingleMovie/images/suggested/04.jpg" class="img-fluid" alt="" />
                                    </div>
                                    <div class="block-description">
                                        <h6 class="iq-title">
                                            <a href="#"> Cricket </a>
                                        </h6>
                                        <div class="movie-time d-flex align-items-center my-2">
                                            <div class="badge badge-secondary p-1 mr-2">T-20</div>
                                            <span class="text-white">Sports</span>
                                        </div>
                                        <div class="hover-buttons">
                                            <span class="btn btn-hover iq-button">
                                                <i class="fa fa-play mr-1"></i>
                                                Play Now
                                            </span>
                                        </div>
                                    </div>
                                    <div class="block-social-info">
                                        <ul class="list-inline p-0 m-0 music-play-lists">
                                            <li class="share">
                                                <span><i class="fa fa-share-alt"></i></span>
                                                <div class="share-box">
                                                    <div class="d-flex align-items-center">
                                                        <a href="#" class="share-ico"><i class="fa fa-share-alt"></i></a>
                                                        <a href="#" class="share-ico"><i class="fa fa-youtube"></i></a>
                                                        <a href="#" class="share-ico"><i class="fa fa-instagram"></i></a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <span><i class="fa fa-heart"></i></span>
                                                <span class="count-box">19+</span>
                                            </li>
                                            <li>
                                                <span><i class="fa fa-plus"></i></span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <!-- slide item 5 -->
                            <li class="slide-item">
                                <div class="block-images position-relative">
                                    <div class="img-box">
                                        <img src="~/Content/SingleMovie/images/suggested/05.jpg" class="img-fluid" alt="" />
                                    </div>
                                    <div class="block-description">
                                        <h6 class="iq-title">
                                            <a href="#"> Golf </a>
                                        </h6>
                                        <div class="movie-time d-flex align-items-center my-2">
                                            <div class="badge badge-secondary p-1 mr-2">PGA</div>
                                            <span class="text-white">Sports</span>
                                        </div>
                                        <div class="hover-buttons">
                                            <span class="btn btn-hover iq-button">
                                                <i class="fa fa-play mr-1"></i>
                                                Play Now
                                            </span>
                                        </div>
                                    </div>
                                    <div class="block-social-info">
                                        <ul class="list-inline p-0 m-0 music-play-lists">
                                            <li class="share">
                                                <span><i class="fa fa-share-alt"></i></span>
                                                <div class="share-box">
                                                    <div class="d-flex align-items-center">
                                                        <a href="#" class="share-ico"><i class="fa fa-share-alt"></i></a>
                                                        <a href="#" class="share-ico"><i class="fa fa-youtube"></i></a>
                                                        <a href="#" class="share-ico"><i class="fa fa-instagram"></i></a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <span><i class="fa fa-heart"></i></span>
                                                <span class="count-box">19+</span>
                                            </li>
                                            <li>
                                                <span><i class="fa fa-plus"></i></span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- main content ends  -->