@model IEnumerable<NetflixClone.Models.movie>

@{
    ViewBag.Title = "Movies page";
    NetflixClone.Models.Model1 db = new NetflixClone.Models.Model1();
}

@*
    <!DOCTYPE html>

    <html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- <link rel="icon" href="~/Content/MainPage/assests/nficon.ico"> -->
        <link rel="stylesheet" href="~/Content/MainPage/fontawesome-free-6.5.2-web/fontawesome-free-6.5.2-web/css/all.min.css">
        <link href="~/Content/MainPage/moviezone.css" rel="stylesheet" />
        <title>Netflix</title>
    </head>
    <body>
        <section class="container">
            <div class="head">
                <img src="~/Content/MainPage/assests/netflixlogo.png" alt="">
            </div>
        </section>
        <div class="home-image">
            <div class="home-image-text">
                <img class="money" src="~/Content/MainPage/assests/monetharis.png" alt="">
                <a class="play-btn" href="~/Content/MainPage/assests/MoneyH.mp4">
                    <img src="~/Content/MainPage/assests/play.png" alt="">
                    <span>Play</span>
                </a>
            </div>

        </div>
        <div class="original">
            <h3 class="no-title">Popular</h3>
            <section id="iq-favorites">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 overflow-hidden">
                            <div class="iq-main-header d-flex align-items-center justify-content-between">
                                <h4 class="main-title">Top rated movies</h4>
                                <a href="#" class="iq-view-all">View All</a>
                            </div>
                            <div class="favorite-contens">
                                @Html.Partial("MovieList_Popular", db.movies.ToList())
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="original2">
            <h3 class="no-title">Top Rated</h3>
            <section id="iq-favorites">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 overflow-hidden">
                            <div class="iq-main-header d-flex align-items-center justify-content-between">
                                <h4 class="main-title">Top rated movies</h4>
                                <a href="#" class="iq-view-all">View All</a>
                            </div>
                            <div class="favorite-contens">
                                @Html.Partial("MovieList_TopRated", db.movies.ToList())
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="original2">
            <h3 class="no-title">Comedy Movies</h3>
            <div class="no">
                <ul>

                    @foreach (var s in Model)
                    {

                        <li style="display:inline-block">
                            <a id="link" href="@Url.Action("Details", "movies", new { id = s.movieID })">
                                <img src=@s.posterPath alt="">
                                <div class="original-details">
                                    <div class="details-video">
                                        <!-- nhiều vid thì lag nên comment tạm chứ chạy bt -->
                                        <video src="~/Content/MainPage/assests/MoneyH.mp4" autoplay loop muted></video>
                                    </div>
                                    <div class="details-info">
                                        <div class="details-icon">
                                            <div class="icon-one">
                                                <i class="fa-solid fa-play icon-v"></i>
                                                <i class="fa-solid fa-check icon-check"></i>
                                            </div>
                                            <div class="icon-two">
                                                <i class="fa-solid fa-angle-down icon-down"></i>
                                            </div>
                                        </div>
                                        <div class="details-more">
                                            <span class="more-one">@s.adult</span>
                                            <span class="more-two">1</span>
                                            <!-- cái ở dưới để tạm để biết phim nào do ảnh đang không chạy -->
                                            <span class="more-hd">@s.movieName</span>
                                        </div>

                                        <div class="details-category">
                                            @s.genreID
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <p></p>
                        </li>

                    }
                </ul>
            </div>
        </div>

        <div class="original1">
            <h3 class="no-title">Romantic </h3><!--<a href=""><img src="~/Content/MainPage/assests/ro1.jpg" alt=""></a>-->
            <div class="no">
                <ul>
                    @foreach (var s in Model)
                    {

                        <li style="display:inline-block">
                            <a id="link" href="@Url.Action("Details", "movies", new { id = s.movieID })">
                                <img id="image" src="@s.posterPath" alt="">
                            </a>
                        </li>

                    }
                </ul>
            </div>
        </div>
        <div class="original1">
            <h3 class="no-title">Action </h3>
            <div class="no">
                <ul>
                    @foreach (var s in Model)
                    {

                        <li style="display:inline-block">
                            <a id="link" href="@Url.Action("Details", "movies", new { id = s.movieID })">
                                <img id="image" src="@s.posterPath" alt="">
                            </a>
                        </li>

                    }
                </ul>
            </div>
        </div>

    </body>
    </html>
*@

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="icon" href="~/Content/MainPage/assests/nficon.ico"> -->
    <link rel="stylesheet" href="~/Content/MainPage/fontawesome-free-6.5.2-web/fontawesome-free-6.5.2-web/css/all.min.css">
    <link href="~/Content/MainPage/moviezone.css" rel="stylesheet">
    <title>Netflix</title>
    <style>
        .slider-container {
            position: relative;
            overflow: hidden;
        }

        .slider {
            display: flex;
            transition: transform 0.5s ease-in-out;
        }

            .slider img {
                width: calc(100% / 6);
                flex-shrink: 0;
            }

        .slider-btn {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 50px;
            height: 50px;
            background-color: rgba(0, 0, 0, 0.5);
            color: white;
            border: none;
            cursor: pointer;
            font-size: 24px;
            z-index: 1;
        }

        .slider-btn-left {
            left: 0;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
        }

        .slider-btn-right {
            right: 0;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }

        /* Video Styles */
        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: fixed;
            top: 0;
            left: 0;
            z-index: -1;
        }

        .original {
            margin-top: 800px;
        }

        .movie-item {
            position: relative;
            margin-right: 20px; /* Adjust spacing between movie items */
        }

        .movie-image {
            position: relative;
            overflow: hidden;
        }

            .movie-image img {
                width: 100%;
                height: auto;
                transition: transform 0.3s ease;
            }

        .movie-details {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.7);
            padding: 10px;
            box-sizing: border-box;
            opacity: 0;
            transform: translateY(100%);
            transition: opacity 0.3s ease, transform 0.3s ease;
        }

        .movie-item:hover .movie-details {
            opacity: 1;
            transform: translateY(0);
        }
    </style>
</head>
<body>
    <section class="container">
        <div class="head">
            <img src="~/Content/MainPage/assests/netflixlogo.png" alt="">
        </div>
    </section>
    <!-- Background Video -->
    <video autoplay loop muted>
        <source src="~/Content/SingleMovie/video/Y2meta.app%20-%20TRANSFORMERS%20_%20Trailer%20A%20%20%2006.2023.mp4" type="video/mp4" />
    </video>

    <div class="original">
        <section id="iq-favorites">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 overflow-hidden">
                        <div class="iq-main-header d-flex align-items-center justify-content-between">
                            <h4 class="main-title">Top rated movies</h4>
                            <a href="#" class="iq-view-all">View All</a>
                        </div>
                        <div class="favorite-contens slider-container">
                            <div class="slider">
                                @foreach (var movie in Model)
                                {
                                    if (movie.tags.Equals("topRated"))
                                    {
                                        <div class="movie-item">
                                            <a id="link" href="@Url.Action("Details", "movies", new { id = movie.movieID })">
                                                <div class="movie-image">
                                                    <img src="@movie.posterPath" alt="@movie.movieName">
                                                    <div class="movie-details">
                                                        <h5>@movie.movieName</h5>
                                                        <p>@movie.releaseDate</p>
                                                        <!-- Add additional information here -->
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    }
                                }
                            </div>
                            <!-- No slider buttons -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>


    <!-- Add other sections as needed -->

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const slider = document.querySelector(".slider");
            const slides = document.querySelectorAll(".slider img");
            const totalSlides = slides.length;
            let currentIndex = 0;
            const slidesPerPage = 6;

            function showSlide(index) {
                const startPosition = index * -100 / slidesPerPage;
                slider.style.transform = `translateX(${startPosition}%)`;
            }

            function nextSlide() {
                currentIndex = (currentIndex + slidesPerPage < totalSlides) ? currentIndex + slidesPerPage : 0;
                showSlide(currentIndex);
            }

            function prevSlide() {
                currentIndex = (currentIndex - slidesPerPage >= 0) ? currentIndex - slidesPerPage : totalSlides - slidesPerPage;
                showSlide(currentIndex);
            }

            // Autoplay Slider
            setInterval(nextSlide, 3000); // Change slide every 3 seconds
        });
    </script>
</body>
</html>

<script>
    // Lắng nghe sự kiện click trên thẻ hình ảnh
    document.getElementById("image").addEventListener("click", function () {
        // Kích hoạt sự kiện click của thẻ a
        document.getElementById("link").click();
    });
</script>